body {
    display: flex;
    background-color: black;
    color: darkgreen;
}

.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: black;
    margin: 0px;

}