body {
    display: flex;
    background-image: linear-gradient(90deg, white, black, white);
    color: forestgreen;
}

.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: black;
    background-color: forestgreen;
    margin: 0px;

}

h6 {
    color: greenyellow;
}