/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {

    background-image: linear-gradient(90deg, gray, black);
    color: rgb(36, 221, 36);
    min-height: 100vh;
}

.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: black;
    background-color: rgb(36, 221, 36);
    margin: 0px;

}

h1 {
    padding: 5%;
}

h6 {
    color: rbg(36, 221, 36);
}

#RPS {
    padding-top: 5%;
    padding-bottom: 10%;
}

a:link {
    color: white;
}